<div class="container">
  <div>
    <h2>Modify Drugs :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Drugs</label>
      <input type="number" [(ngModel)]="currentDrug.id" name=" id" class="form-control" />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Name</label>
      <input type="text" [(ngModel)]="currentDrug.genericName" name="genericName" class="form-control nameField" />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Brand</label>
      <input type="text" [(ngModel)]="currentDrug.brandNames" name="brandNames" class="form-control" />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Dosage</label>
      <input type="text" [(ngModel)]="currentDrug.dosageForm" name="dosageForm" class="form-control" />
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Drug Class</label>
      <select class="form-control form-control" id="updateidcl" name="updateidcl" [(ngModel)]="updateidcl">
        <option *ngFor="let d of DrugClass" [value]="d.idcl">
          {{d.name}}
        </option>
      </select>
    </div>


    <div class="col-sm-16 col-md-16 col-lg-16">
      <img [src]="myImage" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>










    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date</label>
      <input type="date" [ngModel]="currentDrug.lastUpdated | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentDrug.lastUpdated = $event" name="dateCreation" class="form-control dateInput" />
    </div>






    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="mt-2">
        <button type="submit" (click)="updateDrug()" class="btn btn-success">
          Modifer

        </button>
      </div>
    </div>
  </form>


  <div class="mt-2">
    <button type="submit" (click)="onAddImageDrug()" class="btn
    btn-success">Ajouter Image</button>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Images</th>
          </tr>
        </thead>
        <tbody *ngFor="let img of currentDrug.images">
          <tr>
            <td><img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                style="height :50px;width:100px"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>
